/*------------------------------------*\
	$HERO
\*------------------------------------*/

.hero {
	@extend .cf;
	display: block;
	width: 100%;
	margin-bottom: $pad * 1.2;
	position: relative;
	&--collaboration {
		border-bottom: 3px solid rgba(#979797, 0.2);
	}
	&__media-contain {
		display: block;
		overflow: hidden;
		position: relative;
		height: 350px;
		background-color: $gray__light;

		.single-theme & {
			@include mq( tablet ) {
				max-width: none;
				width: 75%;
				left: 0;
			}
		}
	}
	&__image {
		object-fit: cover;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		display: flex;
		flex-flow: column nowrap;
		width: 93%;
		max-width: $pad * 34;
		background: $white;
		padding: $pad * 2;
		padding-right: $pad * 5;
		margin-left: $pad * -2;
		margin-top: $pad * -13.8;
		min-height: $pad * 27.6;
		position: relative;
		margin-bottom: $space;
		z-index: 20;

		.single-theme & {
			left: auto;
			right: 0;
			max-width: $pad * 51;
		}
	}
	&__title {
		word-wrap: break-word;
	}
	&__description {
		margin-top: auto;
	}
	&__social {
		position: absolute;
		right: $pad * -4;
		top: $pad * 15;
		padding: 0;
		&.c-drawer > .m-social {
			background-color: $white;
			width: 32px;

			position: absolute;
			bottom: 100%;
			margin-top: 0px;
			margin-bottom: 10px;
		}
		ul {
			list-style: none;
			margin: 0 auto;
			width: 32px;
		}

		.single-theme & {
			left: auto;
			right: 5rem;
			top: 90%;
		}
	}
	.c-drawer>&__social-btn {
		font-size: 15px;
		font-weight: $bold;
		text-transform: uppercase;
		transform-origin: top center;
		padding: 0;
		transform: rotate( 90deg );
		left: 0;
		min-height: 0;
		margin-top: 21px;
		&:after {
			display: none;
		}
		&:hover,
		&:active,
		&:focus {
			outline-offset: 5px;
			color: $black;
			background: transparent;
			text-decoration: underline;
		}

		.single-theme & {
			transform: none;
		}
	}
	@include mq( tablet ) {
		min-height: $pad * 52.8;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		padding-top: 4rem;
		padding-bottom: 4rem;
		&--collaboration {
			border-bottom: none;
		}
		&__media-contain {
			height: auto;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: $pad * 3.7;
		}
		&__content {
			position: absolute;
			padding-top: $pad * 2.6;
			padding-left: $pad * 2.9;
			padding-right: $pad * 4.3;
			padding-bottom: $pad * 3.2;
			margin: 0;
			margin-left: $pad * -2.9;
			left: 0;
			top: calc( 50% - 2rem );
			transform: translate(0%, -50%);
		}
		&__title {
			@include font($display__one, 1.333);
		}
		&__description {
			@include font($font-size__sm-2, 1.714);
		}
		&__social {
			left: 2rem;
			right: auto;
			top: calc( 100% + ( #{$pad} * 0.2 ) );
			&.c-drawer > .m-social {
				background-color: $white;
				width: 32px;

				position: relative;
				bottom: auto;
				margin-top: 36px;
				margin-bottom: 0;
			}
		}
	}
	@include mq( 768px ) {
		margin-bottom: 1.8rem;
	}
	@include mq( 1084px ) {
		margin-bottom: 2.4rem;
	}
	@include mq( desktop ) {
		min-height: $pad * 69;
		padding-top: $pad * 16.2;
		padding-bottom: $pad * 12.8;
		&__title {
			@include font($display__two, 1.1);
		}
	}
}
