.f-video-header {
	position: relative;
	.f-video-looped, .f-video-looped iframe, .f-video-looped video,
	.f-video-image, .f-video-image-inline, .f-video-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	@include mq(920px) {
		.f-video-looped iframe, .f-video-looped video, .f-video-image {
			opacity: 0.6;
		}
	}
}
.video-container,
.f-video-holder,
.hero__video-static {
	position: relative;
	height: 0;
	padding-bottom: 56.25%; // Assumes 16:9 aspect ratio.
	overflow: hidden;
	background-color: $gray__light;
	iframe, video, embed {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
	}
	.hero__media-contain & {
		height: 100%;
	}
	.background-image-fragment__media-contain & {
		padding: 0;
		top: 50%;
		left: 50%;
		right: 0;
		bottom: 0;
		width: 134%;
		height: 100%;
		transform: translate(-50%, -50%);
	}
	@include mq(tablet) {
		.hero__media-contain & {
			position: absolute;
			padding: 0;
			top: 50%;
			left: 50%;
			right: 0;
			bottom: 0;
			width: 134%;
			height: 100%;
			transform: translate(-50%, -50%);
		}

	}
	@include mq(desktop) {
		.hero__media-contain &,
		.background-image-fragment__media-contain  & {
			width: 127%;
		}
	}
	@include mq( 1084px ) {
		.hero__media-contain &,
		.background-image-fragment__media-contain  & {
			width: 136%;
		}
	}
	@include mq(1300px) {
		.hero__media-contain &,
		.background-image-fragment__media-contain  & {
			width: 100%;
			padding-bottom: 56.25%;
		}
	}
}

.f-video-looped {
	z-index: 20;

	&.active {
		background-color: #666;
	}
}

.f-video-image {
	z-index: 1;
}

.f-video-overlay {
	@include mq(video) {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 100;
		width: 100%;
		height: 100%;
	}
}

figure,
img,
.f-video-looped {
	transition: opacity .3s ease-out;
	visibility: hidden;
	opacity: 0;
	.js-loaded & {
		visibility: visible;
		opacity: 1;
	}
}


.-js-vid-standard {
	.f-video-looped {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s linear .3s;
	}
}
.-js-vid-bg {
	.js-loaded & {
		.f-video-looped {
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s linear .3s;
		}
		@include mq(video) {
			figure,
			img {
				visibility: hidden;
				opacity: 0;
				transition: visibility 0s linear .3s;
			}
			.f-video-looped {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
.-js-vid-bg {
	.no-consent & {
		.f-video-looped {
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s linear .3s;
		}
		@include mq(video) {
			figure,
			img {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
.-js-vid-static {
	.js-loaded & {
		figure,
		img {
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s linear .3s;
		}
		.f-video-looped {
			visibility: visible;
			opacity: 1;
		}
	}
}

.-js-vid-error {
	.js-loaded & {
		figure,
		img {
			visibility: visible;
			opacity: 1;
		}
		.f-video-looped {
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s linear .3s;
		}
	}
}
